:root {
    --btn-color: teal;   /* χρώμα πλήκτρων */
    --btn-text: whitesmoke;   /* χρώμα κειμένου πλήκτρων */
    --msg-win-color: rgb(0, 128, 32);  /* χρώμα μηνύματος επιτυχίας */
    --msg-wrong-color: crimson;  /* χρώμα μηνύματος αποτυχίας */
    --msg-text:floralwhite;  /* χρώμα κειμένου μηνύματος */
    --low-high-color: gray;  /* χρώμα ιστορικού προσπαθειών */

    font-family: Arial, Helvetica, sans-serif; /* Ορισμός κατάλληλης γραμματοσειράς */
}
/* 

8. Στο αρχείο stylesheet final-test-style.css να γίνουν οι κατάλληλες αλλαγές 
που αφορούν στα στοιχεία που εμφανίζονται στον χρήστη, προσπαθώντας να επιτύχετε 
το αποτέλεσμα που φαίνεται στην παρουσίαση. ιδιαίτερη αναφορά γίνεται ώστε το χρώμα 
να οριστεί με βάση τα χρώματα που ορίζονται από τις μεταβλητές CSS. */

header, #new-guess, #message, button { /* Ορισμός μεγέθους γραμματοσειράς */
    font-size: 1.2em;
}

#message {
    width: 100%; /* Για να καλύπτει (οριζοντίως στο δεξί άκρο) ολόκληρο το παράθυρο */
    color: var(--msg-text); /* Ορισμός κατάλληλου χρώματος γραμματοσειράς */
    text-align: center; /* Στοίχιση του κειμένου στο κέντρο */
    margin: 10px; /* Ορισμός εξωτερικού περιθωρίου */

}

#low-high {
    color: var(--low-high-color); /* Ορισμός κατάλληλου χρώματος γραμματοσειράς */
}

button {
    background-color: var(--btn-color); /* Ορισμός κατάλληλου χρώματος υποβάθρου */
    color: var(--btn-text); /* Ορισμός κατάλληλου χρώματος γραμματοσειράς */
    border-radius: 8px; /* Στρογγύλεμα των γωνιών */
}

#instructions, #guess, #low-high {
    margin: 15px; /* Ορισμός εξωτερικού περιθωρίου */
}

#restart {
    visibility: hidden; /* Απόκρυψη του button "Παίξε ξανά" κατά το φόρτωμα της σελίδας */
}